@import '../style/_colors';
@import '../style/_layout';

.Phrase {
  padding: 5.5em 0;
  max-width: $maxWidthContainer;
  margin: auto;
  line-height: 42px;

  a {
    color: $primary;
    text-shadow: -5px 0 #fff, 0 1px #fff, 1px 0 #fff, 0 -1px #fff;
    text-decoration: none;
    border-bottom: 3px solid;
  }

  h1 {
    font-weight: 500;
    font-family: 'Bitter', serif;
  }

  strong {
    color: $primary;
  }

  em {
    font-weight: 900;
  }

  small {
    font-size: 14px;
    color: $primary;
  }
}
